/* page structure and layout */

html, body {
  width: 100vw;
  min-height: 100vh;
  background-color: #0e0e0e;
}

.writeup-container {
  width: min(800px, 75vw);
  /*min-height: 100%;*/
}

.page-spacer {
  width: 100%;
  min-height: 4px;
  background-color: #bc9eca;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.project-banner {
  max-width: 100%;
  max-height: 60vh;
  margin-bottom: 2vh;
}

.project-body-image {
  max-width: 75%;
  max-height: 400px;
  margin-bottom: 2vh;
}

/* typography */

h1, li, p, a {
  color: #fcfaee;
  text-decoration: none;
  width: 100%;
}

h1 {
  font-family: "mr-eaves-modern",sans-serif;
}

.project-title {
  font-size: 2.2rem;
}

.project-subtitle {
  font-size: 1.8rem;
  font-weight: 200;
}

p, a {
  font-size: 1.3rem;
  font-family: "Graphie",sans-serif;
  font-weight: 300;
  margin-bottom: 2vh;
}

li {
  font-size: 1.1rem;
  font-family: "Graphie",sans-serif;
  font-weight: 100;
}

a {
  text-align: center;
  color: #d2bed7;
}

a:hover {
  text-decoration: underline;
  color: #bc9eca;
}

