html, body {
  width: 100vw;
  height: 100vh;
  background: #0e0e0e;
  overflow: auto;
}

a {
  text-decoration: none;
  color: #fcfaee;
  font-size: 5vh;
  font-family: graphie;
}

a:hover {
  text-decoration: none;
  color: #e5c4d6;
  font-size: 7vh;
  font-family: graphie;
}

h1, h2, h3 {
  color: #fcfaee;
  font-family: mr-eaves-modern;
  font-weight: 600;
  font-size: min(12vh, 22vw);
  margin: 0px;
}

@media (max-width: 767px) {
  #splash-spacer {
    background: #bc9eca;
    height: 6px;
    width: 70vw;
    max-width: 330px;
  }
}

@media (min-width: 768px) {
  #splash-spacer {
    background: #bc9eca;
    height: 24vh;
    width: 6px;
  }
}

