html, body {
  width: 100vw;
  height: 100vh;
  background: #0e0e0e;
  overflow: scroll;
  scroll-behavior: smooth;
}

ul {
  color: #fcfaee;
  border-left-style: solid;
  border-left-color: #bc9eca;
  font-family: objektiv-mk3;
}

h1, h2, h3 {
  color: #fcfaee;
  font-family: mr-eaves-modern;
  font-weight: 600;
  font-size: 6vh;
  margin: 0px;
}

p {
  color: #e0e0e0;
  font-size: 2.6vh;
  font-family: objektiv-mk3;
}

img {
  max-height: 60vh;
}

@media (min-width: 576px) {
  img, h2 {
    scroll-snap-align: start;
  }
}

a {
  color: #e5c4d6;
  font-size: 3vh;
}

a:hover {
  color: #bc9eca;
  font-size: 3vh;
}

